<template lang="html">
  <div class="inner-content">
    <div class="bx_title">
      <nuxt-link
        to="/"
        class="btn_back">
        <i class="fas fa-chevron-circle-left" />
      </nuxt-link>
      <h2 class="title is-4">Autos Nuevos</h2>
    </div>
    <div class="inner-scroll">
      <div class="autos-nuevos">
        <div class="category">
          <h3 class="title is-5">Autos</h3>
          <div class="auto">
            <nuxt-link to="/autos/fiesta-sedan">
              <div class="bx_header">2017</div>
              <div class="car_name">Fiesta Sedán</div>
              <div class="bx_precio">Desde: $186,000</div>
              <div class="photo">
                <img src="/images/autos/fiesta.jpeg" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/figo-hb">
              <div class="bx_header">2017</div>
              <div class="car_name">Figo Hatchback</div>
              <div class="bx_precio">Desde: $178,900</div>
              <div class="photo">
                <img src="/images/autos/figo-hb.jpeg" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/fiesta">
              <div class="bx_header">2017</div>
              <div class="car_name">Fiesta</div>
              <div class="bx_precio">Desde: $210,600</div>
              <div class="photo">
                <img src="/images/autos/fiesta.jpeg" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/focus">
              <div class="bx_header">2018</div>
              <div class="car_name">Focus</div>
              <div class="bx_precio">Desde: $340,600</div>
              <div class="photo">
                <img src="/images/autos/focus.jpeg" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/fusion">
              <div class="bx_header">2017</div>
              <div class="car_name">Fusion</div>
              <div class="bx_precio">Desde: $381,200</div>
              <div class="photo">
                <img src="/images/autos/fusion.jpg" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/mustang">
              <div class="bx_header">2018</div>
              <div class="car_name">Mustang</div>
              <div class="bx_precio">Desde: $622,900</div>
              <div class="photo">
                <img src="/images/autos/mustang.png" >
              </div>
            </nuxt-link>
          </div>
        </div>
        <div class="category">
          <h3 class="title is-5">Suvs</h3>
          <div class="auto">
            <nuxt-link to="/autos/ecosport">
              <div class="bx_header">2018</div>
              <div class="car_name">Ecosport</div>
              <div class="bx_precio">Desde: $305,300</div>
              <div class="photo">
                <img src="/images/autos/ecosport.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/escape">
              <div class="bx_header">2018</div>
              <div class="car_name">Escape</div>
              <div class="bx_precio">Desde: $384,900</div>
              <div class="photo">
                <img src="/images/autos/escape.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/edge">
              <div class="bx_header">2018</div>
              <div class="car_name">Edge</div>
              <div class="bx_precio">Desde: $650,100</div>
              <div class="photo">
                <img src="/images/autos/edge.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/explorer">
              <div class="bx_header">2018</div>
              <div class="car_name">Explorer</div>
              <div class="bx_precio">Desde: $660,100</div>
              <div class="photo">
                <img src="/images/autos/explorer.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/expedition">
              <div class="bx_header">2018</div>
              <div class="car_name">Expedition</div>
              <div class="bx_precio">Desde: $1,050,700</div>
              <div class="photo">
                <img src="/images/autos/expedition.png" >
              </div>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="sass" scoped>
@import "~bulma/sass/utilities/_all"
@import "assets/sass/base/color.sass"

</style>
