<template lang="html">
  <div class="inner-content">
    <div class="bx_title">
      <nuxt-link
        to="/autos-nuevos"
        class="btn_back">
        <i class="fas fa-chevron-circle-left" />
      </nuxt-link>
      <h2 class="title is-4">Autos Nuevos</h2>
    </div>
    <div class="inner-scroll">

      <div class="auto-single">
        <h3 class="title is-5">Figo Hatchback</h3>

        <div class="auto">
          <div class="bx_header">
            <span class="car_name">Figo Hatchback</span>
            2017<br>
          </div>
          <div class="photo">
            <img src="/images/autos/figo-hb.jpeg" >
          </div>

          <div class="bx_hightlights">
            <div class="bx_price">
              <span class="from">Desde:</span><br>
              $178,900
            </div>
            <div class="bx_features">
              <div class="bx_hp">
                <span>HP</span><br>
                106 /
              </div>
              <div class="bx_toque">
                <span >Torque</span><br>
                103
              </div>
              <div class="bx_motor">
                <span >Motor</span><br>
                1.5L
              </div>
            </div>
          </div>
          <div class="features">
            <ul class="list">
              <li>Aire acondicionado con filtro anti polen</li>
              <li>Asiento trasero abatible 40/60</li>
              <li>Bluetoot (manos libres)</li>
              <li>Bolsas de aire frontales</li>
              <li>Botón de encendido automático</li>
              <li>Botón de modo sport (transmisión automática)</li>
              <li>Computadora de viaje</li>
              <li>Consola central con portavasos</li>
              <li>Control remoto para apertura de puertas</li>
              <li>Controles de audio y Bluetoot montados al volante</li>
              <li>Entrada auxiliar y USB</li>
              <li>Espejos de vanidad con cubierta para conductor y copiloto</li>
              <li>Espejos eléctricos al color de la carrocería</li>
              <li>Faros de halógeno</li>
              <li>Limpiaparabrisas de 2 velocidades, variable ficjo intermitente</li>
              <li>Rines de acero de 15'</li>
              <li>Seguros eléctricos de puertas con función automática de cierre central sensible a la velocidad</li>
              <li>Sistema de audio AM/FM/CD/MP3 con reloj digital y 4 bocinas</li>
              <li>Spoiler trasero al color de la carrosería</li>
              <li>Vestiduras de asientos en tela</li>
              <li>Vidrios eléctricos con función de ascenso y descenso de un solo toque para el conductor</li>
              <li>Volante con ajuste de altura y movilidad</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: 'mazda 2',
    }
  },
  data: () => ({
    swiperOption: {
      loop: true,
      experienciaPasada: false,
      slidesPerView: 'auto',
      centeredSlides: true,
      spaceBetween: 30,
      wrapperClass: 'swiper-wrapper',
      slideClass: 'slide',
      pagination: {
        el: '.swiper-pagination',
        type: 'progressbar',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    },
  }),
}
</script>

<style lang="sass" scoped>
@import "~bulma/sass/utilities/_all"
@import "assets/sass/base/color.sass"
.variant-nav
  width: 90%
  position: absolute
  display: flex
  justify-content: space-between
  a
    color: $neutro
  .far
    width: 2rem
    font-size: 2rem
.auto-single
  background: $white
.bx_hightlights
  display: flex
  width: 100%
  justify-content: space-between
  .bx_price
    text-align: left
    +mobile
      width: 50%
    +tablet
      width: 75%
  .bx_features
    display: flex
    text-align: left
    +mobile
      width: 40%
    +tablet
      width: 25%
.bx_hightlights span
  color: #AAA
.features
  text-align: left
  border-top: 1px solid #DEDEDE
  margin: 1rem auto
  padding: 1rem
  ul
    margin: 1rem 0
    list-style-type: circle
    list-style-position: inside
.swiper-container
  min-height: 9rem
  text-align: center
    background-color: white
</style>
